body {
  background: rgba(25, 118, 210, 0.1490196078);
}

.demo {
  font-family: "Noto Sans", sans-serif;
}

.panel {
  background: linear-gradient(to right, #2980b9, #2c3e50);
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading {
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.panel .panel-heading .title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  margin: 0;
}

.panel .panel-heading .btn {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover {
  color: #fff;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

.panel .panel-heading .form-control {
  color: #fff;
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.panel .panel-heading .form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  outline: none;
}

.panel .panel-heading .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}

.panel .panel-heading .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}

.panel .panel-heading .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}

.panel .panel-body {
  padding: 0;
}

.panel .panel-body .table thead tr th {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}

.panel .panel-body .table tbody tr td {
  color: #fff;
  font-size: 15px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
}

.panel .panel-body .table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.panel .panel-body .table tbody .action-list li {
  display: inline-block;
  margin: 0 5px;
}

.panel .panel-body .table tbody .action-list li a {
  color: #fff;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover {
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #111;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
  text-transform: capitalize;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:after {
  content: "";
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
  display: block;
}

.panel .panel-footer {
  color: #fff;
  background-color: transparent;
  padding: 15px;
  border: none;
}

.panel .panel-footer .col {
  line-height: 35px;
}

.pagination {
  margin: 0;
}

.pagination li a {
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 31px;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 3px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.pagination li a:hover {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .panel .panel-heading .title {
    text-align: center;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn_group {
    text-align: center;
  }
}
.del__oper .Delete__btn {
  color: rgb(207, 79, 79);
  font-size: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.del__oper button {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0px;
  background: transparent;
}
.del__oper button,
.del__oper button span {
  transition: 200ms;
}
.del__oper button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}
.del__oper button .icon {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.del__oper button svg {
  width: 15px;
  fill: #eee;
}
.del__oper button:hover .icon {
  color: rgb(170, 96, 96);
}
.del__oper button:focus {
  outline: none;
}

.Edit__oper .Edit__btn {
  color: rgb(208, 225, 52);
  font-size: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.Edit__oper button {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0px;
  background: transparent;
}
.Edit__oper button,
.Edit__oper button span {
  transition: 200ms;
}
.Edit__oper button .icon {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Edit__oper button svg {
  width: 15px;
  fill: #eee;
}
.Edit__oper button:hover .icon {
  color: rgb(204, 183, 75);
}
.Edit__oper button:focus {
  outline: none;
}

.Add__oper .Add__btn {
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.Add__oper button {
  margin-left: auto;
  color: white;
  width: 8rem;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #2980b9;
  border: none;
  border-radius: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #2980b9;
}
.Add__oper button,
.Add__oper button span {
  transition: 200ms;
}
.Add__oper button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}
.Add__oper button .icon {
  position: absolute;
  border-left: 1px solid rgb(239, 221, 127);
  transform: translateX(94px);
  height: 40px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Add__oper button:hover {
  background: #238dd3;
}
.Add__oper button:hover .text {
  color: transparent;
}
.Add__oper button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-13px);
}
.Add__oper button:focus {
  outline: none;
}

.View__oper .View__btn {
  color: rgb(55, 187, 43);
  font-size: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.View__oper button {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0px;
  background: transparent;
}
.View__oper button,
.View__oper button span {
  transition: 200ms;
}
.View__oper button .icon {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.View__oper button svg {
  width: 15px;
  fill: #eee;
}
.View__oper button:hover .icon {
  color: rgb(31, 135, 51);
}
.View__oper button:focus {
  outline: none;
}

.table th,
.table td {
  vertical-align: middle !important;
}

body {
  background-color: #f9f9fa;
}

.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(56, 136, 176, 0.664);
  border: none;
  margin-bottom: 30px;
  height: 100vh;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
  height: 100vh;
}

.bg-c-lite-green {
  background: linear-gradient(to right, #2980b9, #2c3e50);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}
.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */